*{
 box-sizing: border-box;
}
body{
 padding: 0;
 margin: 0;
 background-color:  hsl(216, 12%, 8%);
 font-family: 'Overpass', sans-serif;
 color: #fff;
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
main{
 padding: 1em;
 max-width: 412px;
}
.main-container{
 background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
 border-radius: 15px;
 padding: 2em;
}
h1{
 font-size: 1.5rem;/*24px*/
 margin-bottom: .5em;
}
p{

 font-size: 0.875em; /*14px*/
 line-height: 22px;
 color:hsl(217, 12%, 63%);
 margin-top: 0;
 margin-bottom: 1.8em;
}

.flex{
 display: flex;
 justify-content: space-around;
}
label{
 background-color: hsl(213, 19%, 18%);
 color: hsl(216, 12%, 54%);
 width: 40px;
 height: 40px;
 display: flex;
 align-items:center;
 justify-content: center;
 font-size: 1.25rem; /*20px*/
 border-radius: 50%;
 cursor: pointer;
  transition: background-color 500ms, color 500ms;
}
label:hover
{
 background-color: hsl(216, 12%, 54%);
 color: #fff;
}
label:focus-within{
  background-color: hsl(25, 97%, 53%);
  color: white;
}
button{
 background-color: hsl(25, 97%, 53%);
 display: block;
 color: hsl(0, 0%, 100%);
 margin: 0  auto;
 border: none;
 padding: 1em 8em;
 border-radius: 23px;

 font-size:0.875em;
 text-transform: uppercase;
 cursor: pointer;
 margin-top: 2em;
 transition: background-color 500ms, color 500ms;
}
button:hover,
button:focus{
 background-color:#fff;
 color:hsl(25, 97%, 53%);
}
label:active{

  background: rgb(197, 185, 185);
  box-shadow: inset 0px 0px 5px #eee;
}
.label-bg{
 background-color:hsl(25, 97%, 53%) ;
 color: white;
}




input{
  appearance: none;
  margin-right: -.5em;
  
}





.thanks-container{
 text-align: center;
 display: none;
}
.online-payment{
 margin-bottom: 2.125em;
}
.h1-thanks{
 margin-top: 1.1em;
}
.rating{
 background-color:#262E38 ;
 border-radius: 22px;
 font-size: .875rem;
 line-height: 22px;
 color:hsl(25, 97%, 53%) ;
 padding: .4em .9em;
 width: 200px;
 margin: 0 auto;
}
.error{
 display: none;
 font-size: 0.8125rem;
  margin-top: 1em;
  margin-left: 1em;
  color: red;
}
@media(min-width:713px){
 h1{
  font-size: 1.75rem;
 }
 p,button,.rating{
  font-size: 0.9375rem;
 }
 

}